[submodule "external/src/sdl"]
path = external/src/sdl
url = https://github.com/DylanYasen/SDL
[submodule "external/src/stb"]
path = external/src/stb
url = https://github.com/nothings/stb
[submodule "external/src/imgui"]
path = external/src/imgui
url = https://github.com/ocornut/imgui.git
[submodule "external/src/glad"]
path = external/src/glad
url = https://github.com/Dav1dde/glad
[submodule "external/src/cuteheaders"]
path = external/src/cuteheaders
url = https://github.com/RandyGaul/cute_headers
[submodule "external/src/miniaudio"]
path = external/src/miniaudio
url = https://github.com/mackron/miniaudio
[submodule "external/src/iconfont"]
path = external/src/iconfont
url = https://github.com/juliettef/IconFontCppHeaders
[submodule "external/src/sqlite"]
path = external/src/sqlite
url = https://github.com/azadkuh/sqlite-amalgamation

